body
{
    font-family:'Merriweather Sans', sans-serif ;
    background-color: beige;
}
.logo img
{
    width: 200px;
    height: 100px;
}
img
{
    width: 80%;
    height: 200px;
}
header, footer
{
    background-color: darkslategrey;
    padding: 8px;
}
.connect-cart a
{
    color: white;
}
section
{
    background-color:burlywood ;
    margin-top: 40px;
    margin-bottom: 40px;
}
h1
{
    margin-top: 20px;
    color: darkslateblue;
    font-family: 'Hurricane', cursive;
    font-size: 60px;
}
h2
{
    margin-top: 12px;
    color: darkslateblue;
    margin-bottom: 20px;
    font-family: 'Hurricane', cursive;
    font-size: 40px;
}
article
{
    border: 2px solid darkslategrey;
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px;
}
p
{
    margin: 8px;
}
.animal
{
    background-color: purple;
}
.bijoux
{
    background-color: darkred;
}
.santé
{
    background-color: darkblue;
}
.mode
{
    background-color: green;
}
.sport
{
    background-color: tomato;
}
.politique
{
    background-color: turquoise;
}
.arts
{
    background-color: rgb(25, 153, 8);
}
.legende
{
    background-color: yellowgreen;
}  
h2 a
{
    color: white;
}
.section-category
{
    padding: 12px;
}
